<div id="container">
    <div id="nav-container" class="menu-close">
        <div id="navigation">
            <ul class="nav navbar-nav custom-drop">
                <li class="active"><a ui-sref="home">Home</a></li>
            </ul>
            <a href="javascript:void(0)" class="hamburger">
                <div>
                    <div class="menui top-menu"></div>
                    <div class="menui mid-menu"></div>
                    <div class="menui bottom-menu"></div>
                </div>
            </a>
        </div>
    </div>
</div>