<nav class="navbar navbar-default navbar-fixed-title hidden-print">
    <div class="container navbar-title app-container">
        <div class="row">
            <div class="col-xs-2 col-md-4 page-title-left">

            </div>
            <div class="col-md-4 hidden-xs"><div class="page-title">Samples</div></div>
            <div class="cols-xs-10 col-md-4 page-title-right">

            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="list-group table-of-contents">
        <button ui-sref="textsummarizer" class="btn btn-primary btn-lg btn-block">Text Summarization</button>
        <div class="row">&nbsp;</div>
        <button ui-sref="sentimentanalysis" class="btn btn-primary btn-lg btn-block">Sentiment Analysis</button>
    </div>
</div>